body{
    text-align: center;
    margin: 0;
}

header{
    background-color: 	#dcdcdc;
    padding: 16px 0 3px 0;
   
}

#img-div{
    
    padding: 3em;
    padding-bottom: 0;
    
}

#tribute-info{
  
    background-color: 	#dcdcdc;
}
.infoTitle{
    padding: 17px;
   
    
}
.info{
    padding: 0 30% 0;
    text-align: justify;
    display: block;
    line-height: 3em;
   
}

p{
    line-height: 1.5em;
}

.infoP{
    padding: 0 30% 0;
    text-align: left;
    padding-bottom: 1.5em;
    
}