

header{
    background-color: 	#dcdcdc;
    padding: 16px 0 3px 0;
    text-align: center;
}

#img-div{
    text-align: center;
    padding: 15px;
}

#tribute-info{
  
    background-color: 	#dcdcdc;
}
.infoTitle{
    padding: 17px;
    text-align: center;
}
.info{
    padding: 0 30% 0;
}