header{
    text-align: center;
    background-color: 	#dcdcdc;
    padding: 16px 0 3px 0;
}

.image{
    text-align: center;
    padding: 15px;
}

.timeLine{
    text-align: center;
    padding: 15px;
}